<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.back.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="orderId">
        insert into `order`(type_service, status, user_id, description, rider_id, delivery_address, delivery_time, order_star)
        values(#{typeService},#{status},#{userId},#{description},#{riderId},#{deliveryAddress},#{deliveryTime},#{orderStar})
    </insert>

    <update id="update">
        update `order`
        <set>
            <if test="typeService!=null">type_service=#{typeService},</if>
            <if test="status!=null">status=#{status},</if>
            <if test="userId!=null">user_id=#{userId},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="riderId!=null">rider_id=#{riderId},</if>
            <if test="deliveryAddress!=null">delivery_address=#{deliveryAddress},</if>
            <if test="deliveryTime!=null">delivery_time=#{deliveryTime},</if>
            <if test="orderStar!=null">order_star=#{orderStar}</if>
        </set>
        where order_id = #{orderId}
    </update>

</mapper>