<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.back.mapper.OrderMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="orderId">
        insert into `order`(type_service, status, user_id, description, rider_id, delivery_address, delivery_time, order_star)
        values(#{typeService},#{status},#{userId},#{description},#{riderId},#{deliveryAddress},#{deliveryTime},#{orderStar})
    </insert>


</mapper>